<section id="bio">
  <h2>Biography</h2>
  <p>In 2010 I received a Ph.D. in Computer Science, domain of Distributed Computing, from Warsaw University of Technology...</p>

  <h3>Education</h3>
  <ul>
    <li><b>Ph.D. in Technical Sciences (Computer Science)</b>, Warsaw University of Technology, 2010. Dissertation: <i>“Optimal Resource Allocation in Federated Metacomputing Environments”</i>. Supervisor: Prof. Kazimierz Subieta.</li>
    <li><b>Master of Science</b>, Warsaw School of Economics (SGH), Quantitative Methods & Information Systems, 2003. Thesis: <i>“Computerized Methods for Knowledge Testing”</i>. Supervisor: Dr. Anna Rokicka-Broniatowska.</li>
    <li><b>Specialization in Economic Informatics</b>, SGH.</li>
    <li><b>Postgraduate Pedagogical Studies</b>, SGH.</li>
  </ul>

  <h3>Employment / Academic Positions</h3>
  <ul>
    <li><b>Assistant Professor</b>, SGH, Institute of Information Systems and Digital Economy, 2003–2011 as Assistant.</li>
    <li><b>Collaborator</b>, Laboratory of Modeling of Biological Systems, Center for New Technologies, University of Warsaw (from 2018).</li>
    <li><b>Postdoctoral Research Associate</b>, University of Virginia, Charlottesville, USA (May 2024 – June 2025).</li>
    <li><b>Fulbright Visiting Scholar</b>, Texas Tech University, Lubbock, Texas, USA (Aug 2008 – May 2009).</li>
  </ul>
</section>
